<launch>
    <node name="fiducial_tracker" pkg="ros_fiducial_tracker" type="fiducial_tracker" output="screen">

      <param name="origin_id"       value="0"/>
      <param name="robot_id"        value="1"/>

      <param name="publish_markers" value="false"/>
      <param name="publish_fiducial_tf" value="true"/>

      <param name="odom_frame"      value="odom"/>
      <param name="camera_frame"    value="head_camera"/>
      <param name="marker_frame"    value="marker"/>

      <param name="marker_to_footprint_from_urdf" value="false"/>
      <param name="footprint_frame" value="base_footprint"/>

    </node>
</launch>
